
  <h1> ::BudgetBoard:: One Budget, Many Goals </h1>



<% @total = 0 %>

<% @transactions.each do |transaction| %>
  <% @total += transaction.price.to_i %>
<% end %>

<% @fail_total = @total - @balance %>
<% @grand_total =  @balance - @total%>

<div class="container">
  <div class="left-col">
<div class ="col-top">
  <table>
    <tr>
      <th><a href='/budgets/1/edit'>Set Budget</a></th>
      <th><a href='/transactions'>Spent</th>
      <th><a href='/transactions/new'>Budget Remaining</a></th>
    </tr>
   <tr>
     <td>£<%= sprintf('%.2f', (@balance.to_f/100)) %></td>
     <td>£<%= sprintf('%.2f', (@total.to_f/100)) %></td>
     <td style="<%= @total > @balance? "color: #ff6961;" : "color: #6dce6d;" %> ">£<%= sprintf('%.2f', (@grand_total.to_f/100)) %></td>
    </tr>
 </table>
</div>

<div class="col-bottom">
    <table style="width:100% padding-top: 10px">
      <tr>
        <th><a href='/transactions'>Summary</a></th>
        <th>Price</th>
        <th><a href='/vendors'>Vendor</a></th>
        <th><a href='/tags'>Category</a> </th>
        <th>Date</th>
        <th>Comment </th>
      </tr>
    <% @transactions_last_five.each do |transaction| %>
     <tr>
       <td><%= transaction.name %></td>
       <td>£<%= sprintf('%.2f', (transaction.price.to_f/100)) %></td>
       <td><%= StringHelper.titleize(transaction.vendor.name) %></td>
       <td><%= StringHelper.titleize(transaction.tag.category) %></td>
       <td><%= transaction.date %></td>
       <td><%= transaction.comment %></td>
      <% end %>
      </tr>
   </table>
</div>
</div>
<div class="right-col">
  <div class ="col-left">
     <table style="height:auto; width: 70px;">
      <tr>
        <th> <a href='/tags/new'>Categories</a></th>
        <th> <a href='/transactions'>Spent</a></th>
      </tr>
    <% @tags.each do |tag| %>
     <tr>
       <td><%= StringHelper.titleize(tag.category) %></td>
       <td> £<%= sprintf('%.2f', (tag.total.to_f/100)) %></td>
       <%end%>
    </tr>
  </table>
</div>
</div>
<div class="right-col">
<div class="col-right">
  <table style="height:auto; width: 70px;">
    <tr>
      <th> <a href='/vendors/new'>Vendors</a></th>
      <th> <a href='/transactions'>Spent</a></th>
    </tr>
  <% @vendors.each do |vendor| %>
   <tr>
     <td><%= StringHelper.titleize(vendor.name) %></td>
     <td> £<%= sprintf('%.2f', (vendor.total.to_f/100)) %></td>
    <% end %>
    </tr>
 </table>
</div>
</div>

</div>
