<h1> ::BudgetBoard:: All Transactions</h1>
<div id="table-wrapper">
<div id="table-scroll">
  <table style="width:100%">
    <thead>
    <tr>
      <th><span class="scrolling"><a href='/transactions/new'>Add Transaction</a></span></span> </th>
      <th><span class="scrolling">Price</span> </th>
      <th><span class="scrolling"><a href='/tags'>Categories</a></span></th>
      <th><span class="scrolling"><a href='/vendors'>Vendors</a></span></span></th>
      <th><span class="scrolling">Date</span> </th>
      <th><span class="scrolling">Comments</th>
      <th><span class="scrolling"></span></th>
      <th><span class="scrolling"></span></th>
    </tr>
  </thead>
  <% @transactions.each do |transaction| %>
   <tr>
     <td><%= transaction.name %></td>
     <td>£<%= sprintf('%.2f', (transaction.price.to_f/100)) %></td>
     <td><%= StringHelper.titleize(transaction.tag.category) %></td>
     <td><%= StringHelper.titleize(transaction.vendor.name) %></td>
     <td><%= transaction.date %></td>
     <td><%= transaction.comment %></td>
     <td> <a href="/transactions/<%= transaction.id %>/edit">Edit</a> </td>
     <td> <form action="/transactions/<%= transaction.id %>/delete" method="POST"><input class="input-button" type="submit" value="Delete"></form> </td>
  <% end %>
    </tr>
 </table>
</div>
</div>
